
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main start -->
<main>
    <!-- Hero -->
    <section class="hero">
        <div class="image">
            <img src="~/assets/images/our-team-hero-img.jpg" alt="bht - turlar" />
        </div>
        <div class="info">
            <h1 class="page-title">KOMANDAMIZ</h1>
        </div>
    </section>
    <!-- Hero end -->
    <!-- Static Text start -->
    <section class="static-text">
        <div class="container">
            <div class="title"><h1>BAKU HOLİDAY TRAVEL KOMANDASI</h1></div>
            <div class="subtitle">
                <p>
                    Turizm sahəsində liderlər siyahısında olan professional komanda
                </p>
            </div>
        </div>
    </section>
    <!-- Static Text end -->
    <!-- Our Team start -->
    <section id="our-team">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="sort">
                        <span>DEPARTAMENT LİST:</span>
                        <a href="#xts">XARİCİ TURLAR ŞÖBƏSİ</a>
                        <div class="divider"></div>
                        <a href="#ass">AVİABİLET SATIŞ ŞÖBƏSİ</a>
                        <div class="divider"></div>
                        <a href="#odt">ÖLKƏDAXİLİ TURLAR</a>
                        <div class="divider"></div>
                        <a href="#mhsb">MÜHASİBATLIQ</a>
                        <div class="divider"></div>
                        <a href="#ih">İDARƏ HEYƏTİ</a>
                    </div>
                </div>
            </div>
            <div id="xts" class="team">
                <!-- xts - xarici turlar sobesi -->
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">XARİCİ TURLAR ŞÖBƏSİ</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ass" class="team">
                <!-- ass - aviabiletlerin satis sobesi -->
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">AVİABİLET SATIŞ ŞÖBƏSİ</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="odt" class="team">
                <!-- odt - olke daxili turlar -->
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">ÖLKƏDAXİLİ TURLAR</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mhsb" class="team">
                <!-- mhsb - muhasibatliq -->
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">MÜHASİBATLIQ</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ih" class="team">
                <!-- ih - idare heyeti -->
                <div class="row">
                    <div class="col-12">
                        <h2 class="title">İDARƏ HEYYƏTİ</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="~/assets/images/default-team-img.jpg" alt="" />
                            <div class="card-body">
                                <h3 class="name">TARANA SÜLEYMANLI</h3>
                                <p class="position">TUR MENECER</p>
                                <div class="contact">
                                    <a href="tel:077-497-77-73">
                                        <img src="~/assets/icon/static_phone.png"
                                             alt=""
                                             class="icon" />
                                        <span>+994 77 497 77 73</span>
                                    </a>
                                    <a href="tomail:tourism@bht.az">
                                        <img src="~/assets/icon/static_mail.png"
                                             alt=""
                                             class="icon" />
                                        <span>tourism@bht.az</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Team end -->
</main>
<!-- Main end -->

