
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ServiceVM
<!-- Main start -->
<main>
    <!-- Hero -->
    <section class="hero">
        <div class="image">
            <img src="~/uploads/page/@Model.ServiceAndAbout.HeroImgUrl" alt="bht" />
        </div>
        <div class="info">
            <h1 class="page-title">@Model.ServiceAndAbout.Name</h1>
        </div>
    </section>
    <!-- Hero end -->
    <!-- Static Text start -->
    <section class="static-text">
        <div class="container">
            <div class="title">
                <h1>@Model.ServiceAndAbout.Title</h1>
            </div>
            <div class="subtitle">
                <p>@Model.ServiceAndAbout.Desc</p>
            </div>
        </div>
    </section>
    <!-- Static Text end -->
    <!-- Content -->
    <section class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text">
                        @Html.Raw(Model.ServiceAndAbout.Content)
                    </div>
                </div>
                <!--/.col -->
            </div>
        </div>
    </section>

    <!-- Contact start -->
    <section class="contact">
        <div class="container">
            <div class="row row-cols-1">
                <h3 class="title">BİZƏ YAZIN</h3>
            </div>
            <div class="contacts">
                <form method="post" enctype="multipart/form-data" name="sendmessage">
                    <div class="row row-cols-md-3">
                        <div class="col">
                            <label asp-for="ContactUs.Name">Adı</label>
                            <input asp-for="ContactUs.Name"
                                   placeholder="Adınızı daxil edin"
                                   />
                        </div>
                        <div class="col">
                            <label asp-for="ContactUs.Surname">Soyadı</label>
                            <input asp-for="ContactUs.Surname"
                                   placeholder="Soyadınızı daxil edin"
                                    />
                        </div>
                        <div class="col">
                            <label asp-for="ContactUs.Email">Email</label>
                            <input placeholder="Email ünvanınızı daxil edin"
                                   asp-for="ContactUs.Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="ContactUs.PhoneNumber">Mobil nömrəniz</label>
                            <input asp-for="ContactUs.PhoneNumber"
                                   placeholder="Mobil nömrənizi daxil edin"/>
                        </div>
                        <div class="col-md-8">
                            <label asp-for="ContactUs.Message">Mesajınız</label>
                            <textarea asp-for="ContactUs.Message"
                                      placeholder="Mesajınızı daxil edin"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="actions">
                                <button class="form-submit" type="submit">
                                    məktubu göndər
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Contact end -->
</main>
<!-- Main end -->

